<h1>{{title}}</h1>
<form method="POST">
  {{! Input names should match the fitness plan schema }}
  <fieldset class="mb-3">
    <label for="name" class="col-2">
      Plan Name:
    </label>
    <input name="name" id="name" required class="form-control" />
  </fieldset>
  <fieldset class="mb-3">
    <label for="startDate" class="col-2">
      Start Date:
    </label>
    <input name="startDate" id="startDate" required type="date" class="form-control" />
  </fieldset>
  <fieldset class="mb-3">
    <label for="planType" class="col-2">
      Type:
    </label>
    <select name="planType" id="planType" class="form-control">
      
        <option value="strength">Strength</option>
      <option value="cardio">Cardio</option>
      <option value="flexibility">Flexibility</option>
      <option value="balance">Balance</option>

    
      
    </select>
  </fieldset>
  <button class="btn btn-primary mt-3">Save Plan</button>
</form>

